DATABASE_URL="postgresql://postgres:postgres@localhost:5432/business_card?schema=public"
PORT=3000

# docker compose подхватит их из .env, если захочется свои креды
# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=postgres
# POSTGRES_DB=business_card
# API_PORT=3000
